extends layout

block content
  h1= title
  - let items = results;
  div(class='container-fluid')
    div(class='row m-l')
    each item in items
       -let destination = `dispatch(\"/dog/update?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.dog_breed}(#{item.color}) is #{item.maxHeight}
       button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function buy(x){
      alert('purchased item ' + x)
   } 
   function dispatch(path){
      window.location.href=path
   }
  
        

  
