extends layout

block content
 h1= title

  if(toShow == null)
    h2 No instance to detail
  else
    - let dogid = toShow._id
    - let dog_breed = toShow.dog_breed
    - let dog_color = toShow.color
    - let dogmaxHeight = toShow.maxHeight
    - let actionid = "/resource/dog/" + dogid
    script let actionid = "#{actionid}"
    div
    div.row
    div(class='dogAttr mr-3') Dog ID is: 
      span(style="color:red") #{dogid}
    div.row
    div(class='dogAttr mr-3') Dog Breed is: 
      span(style="color:red") #{dog_breed}
    div.row
    div(class='dogAttr mr-3') Dog Color is: 
      span(style="color:red") #{dog_color}
    div.row
    div(class='dogAttr mr-3') Dog MaxHeight is:
      span(style="color:red") #{dogmaxHeight}
    button(class="btn btn-primary m-2" onclick="detailOnid()") Goback
    button(class="btn btn-danger m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
    // Go back to the home page for the dog collection
    window.location.href='/dog'
    }
    function detailOnid() {
    window.location.href='/dog'
    }
