extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to update
  else
    - let dogid = toShow._id
    - let dog_breed = toShow.dog_breed
    - let dog_color = toShow.dog_color
    - let dogmaxHeight = toShow.maxHeight
    - let actionid = "/resource/dog/" + dogid
    script let actionid = "#{actionid}"
    div.row(class='mb-2')
    div.mr-1 ID is 
      span(style="color:red")  #{dogid}
    form(id='DogForm', action= actionid, method="PUT")
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.dogAttr(for='dog_type',class="col-form-label") Dog breed
        div(class="col-auto")
          input#dog_type(type='text', name='dog_type',class="form-control", value=dog_breed)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.dogAttr(for='quantity',class="col-form-label") Dog color
        div(class="col-auto")
          input#quantity(type='text', name='quantity',class="form-control", value=dog_color)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.dogAttr(for='cost',class="col-form-label") Dog maxHeight
        div(class="col-auto")
          input#cost(type='number', name='cost',class="form-control", value=dogmaxHeight)
      input(class="btn btn-danger m-2" type="submit")
        //- button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
        
  script.
    document.forms['DogForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'PUT',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });